# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build outputs
/captures
.externalNativeBuild
.cxx/

# Kotlin
*.kotlin_module

# IntelliJ
out/

# Navigation
.navigation/

# Keystore (quan trọng)
*.jks
*.keystore

# Google services (nếu có)
google-services.json