<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TourGoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourGo"
        android:usesCleartextTraffic="true">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.main.search.SearchActivity"
            android:exported="false" />

        <activity
            android:name=".ui.main.WishlistActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.AdminDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.business.BusinessActivity"
            android:exported="false" />

        <activity
            android:name=".ui.business.AddListingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.business.RegisterBusinessActivity"
            android:exported="false" />

        <activity
            android:name=".ui.business.BusinessRegistrationDetailActivity"
            android:exported="false" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoredLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".ui.main.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ResetPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="reset"
                    android:scheme="tourgo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.home.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TourGo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Facebook (Supabase) web-OAuth redirect target. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login-callback"
                    android:scheme="tourgo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.hotel.HotelListAcitivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.profile.EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.tour.TourlistActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.booking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.booking.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.tour.CreateTourActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.notification.NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.main.detail.ImageDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ui.chat.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <!-- Shares exported files (e.g. the admin audit-log CSV) via content:// URIs. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>